@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Pacifico&display=swap");
html,
body {
  font-family: "Fredoka", cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
